<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>fee page</h1>
    {% comment %} {{ student_data }} {% endcomment %}
    <h1>Student Information</h1>
    <p><strong>Name:</strong> {{ student_data.name }}</p>
    <p><strong>USN:</strong> {{ student_data.USN }}</p>
    <p><strong>Date of Birth:</strong> {{ student_data.DOB }}</p>
    <p><strong>Sex:</strong> {{ student_data.sex }}</p>
    <p><strong>Class ID:</strong> {{ student_data.class_id }}</p>
</body>
</html>